#ligneTexte {  
  border-top-width: 1px;  
  border-right-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px; 
}

.draggable {  
  width: 151px;  
  display: block;
}

#ima {  
  display: inline;  
  top: 1px;  
  z-index: 2;
}

#poub {
}

#panneau {   
  height: 493px;
}
