[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.zoneDrop {
  height: 100%;
  min-height:200px;
  text-align : right;
}
.draggable {
  height : auto;
  width : auto;
  margin-right: 5px;
  margin-left: 5px;
  text-align : left;
  border-radius: 10px;
  cursor: move;
}
