@CHARSET "ISO-8859-1";

#header {
	display: none;
}

#nav {
	display: none;
}

#footer {
	display: none;
}

#parametre {
	display: none;
}

input[type="submit"] { 
	display: none; 
} 

#panel {
	display: none; 
}

#navbarGroups {
	display: none; 
}

#panelPanneau {
	border-color: white;
}

#panelPanneauCol {
	border-color: white;
}

#untruc{
	border-color: white;
}
