@CHARSET "ISO-8859-1";

#navbarElements { 
	display: none; 
}

input[type="submit"] { 
	display: none; 
} 

#footer, #body, #navbarGroups { 
	display: none; 
}  

#panneau {
	margin-right: 0px;;
}

span[id^=child_] {
}

#panneau { 
	position: relative;
	color:black;
}